:root{
    ---primary-color:#1da5d4;
    ---primary-dark-color:#2f589b;
}
body{
    font-family: 'Raleway', sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.logo img{
 
  max-width: 100%;
}
.mainnav{
    display:block;
    position: relative;
   
}
.mainnav ul{
    display:flex;
    list-style:none;
    padding:10px 0;
    margin:0px;
}
.mainnav ul li{
    margin: 0px;
    padding: 0px;
    position: relative;
    display: block;
    flex: auto;
    text-align: center;
    
}

.mainnav ul li a{
    position:relative;
    color:#333333;
    font-weight:600;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    text-decoration: none;
    padding:10px 15px;
    display:block;
}
.mainnav ul li.hasChild > a {
    padding-right:25px;
    position: relative;
    white-space: nowrap;
}
.mainnav ul li.hasChild > a:after{
    content: '';
    background: url(../img/down.svg);
    width: 25px;
    height: 25px;
    display: block;
    top: 8px;
    right: 0px;
    background-size: 25px 25px;
    position: absolute;
}
.mainnav ul li > ul {
    display:none;
    flex-direction: column;
    width:320px;
    position:absolute;
    top:30px;
    left:0px;
    z-index: 10;
}
.mainnav ul li:hover > ul {
    display:flex;
   
}
.mainnav ul li ul li a{
    background:var(---primary-color);
    padding:8px 15px;
    color:#ffffff;
    text-transform: capitalize;
    display: block;
    text-align: left;
}
.mainnav ul li:hover ul li a{
color:white;
}
.mainnav ul li ul li a:hover{
    background:var(---primary-dark-color);
}
.mainnav ul li.active a,.mainnav ul li:hover a{
    color:var(---primary-color);
} 
.slider {
    background :rgba(0,0,0,0.17);
    position: relative;
    height:500px;
}
.slider img{
    width:100%;
    height:auto;
}
.slider .layer{
    
    position:absolute;
    left:0px;
    padding:0px;
    width:100%;
    height:100%;
    z-index: 1;

}
.slider .cont h2 span{
    display:block;
}
.slider .sliderImg{
    width: 100%;
    filter: grayscale(1);
    height: 500px;
    top:0px;
    object-fit: cover;
    left:0px;
    position: absolute;
}
.slider .slidercont {position: relative; z-index: 10;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.slider h2{
    font-size: 35px;
    color: white;
    margin: 0px;
    line-height: 35px;
    margin-top: 80px;
}
.slider h2 span.h2{
    font-weight:700;
    font-size:45px;
    line-height: 45px;
    margin: 0px;
    color:var(---primary-color);
}
.slider h2 span.h3{
    font-size:45px;
    font-weight:700;
}
.slider .book {
    top:60px;
    position: relative;
    display:inline-block;
}
.slider .book a{
    font-size:16px;
    color:#ffffff;
    padding:25px 40px;
    background:var(---primary-color);
    text-transform: uppercase;
    text-decoration: none;   
    font-weight: 600;
    letter-spacing: 3px;
    display:block;
}
.slider .book span{
    position:absolute;
    right: -28px;
    top: 53px;
    width:61px;
    height:35px;
    background:#ffffff url("../img/btn-arrow.png") no-repeat 50% 50%;
    display:block;
}
.topBar{
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 15;
    padding:15px 0;
}
.tel {
    background: var(---primary-dark-color);
    color: white;
    font-size: 14px;
    padding: 5px 15px 11px 15px;
    display: inline-block;
    float: right;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: -15px;
}
.tel span{
    padding-left:10px;
}
.whowe {
    position:relative;
}
.whowe h2{
    font-weight: 300;
}
.whowe .img{

}
.whowe .img:before{
    content:'';
    position: absolute; 
    background: url("../img/dot.png") no-repeat;  
    display: block;
    width:306px;
    height:426px;
    top:0px;
    left:150px;

}
.whowe .img img{
    position: relative;
    z-index: 5;
    top:150px;
    margin-bottom:150px;
}
.whowe h2{
    font-family: 'DM Serif Display', serif;
    font-size:50px;
    padding:40px 0;
    color:var(---primary-dark-color);
}
.whowe .whocont{
    padding :100px 0 150px 0;
}
.whowe .whocont{
    letter-spacing: 1px;
   
}
.whowe .whoimg{
    padding-bottom: 150px;
}
.more{
    display: inline-block;
    background: url(../img/blue-arrow.png) 0 100% no-repeat;
    width: 188px;
    padding: 0 0 9px 0;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    color: #333;
    margin-top: 40px;
}
.wedo {
    background:var(---primary-dark-color);
    display: flex;
    text-align: center;
    padding:100px 0;
    position: relative;
    
}
.wedo:before     {
    content: '';
    display: block;
    height: 3px;
    width: 300px;
    background: var(---primary-color);
    position: absolute;
    margin: 0 0 0 -150px;
    top: 0px;
    left: 50%;

}
h2.h2{ text-transform: capitalize; color:var(---primary-dark-color); font-weight:400; margin:0px; padding:30px 0; font-size:50px;  text-align: center; font-family: 'DM Serif Display', serif;}

.wedo h2{ font-weight:400; margin:0px; padding:30px 0; font-size:50px; color:#ffffff; text-align: center; font-family: 'DM Serif Display', serif;}

.wedo .desc{font-size:14px; padding:20px 0; color:white; text-align: center; display: inline-block; width:600px;}
.wedo .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wedo .services .item{
    display:block;
    width:322px;
    height:322px;
    overflow: hidden;
    position: relative;
    text-align: left;
    margin:15px;

}
.wedo .services .item .img{
display: block;
width:100%;
height:100%;
}
.wedo .services .item .itemContent{
    display:block;
    width:322px;
    height:322px;
    position: absolute;
    left:0px;
    top:0px;
    background:var(---primary-color);
    color:#ffffff;
}
.wedo .services .item:hover .itemContent{
    background:rgba(0,0,155,0.50);
    color:#ffffff;

}
.wedo .services .item:hover .more{
    color:#ffffff;
}

.wedo .services .item h3{
    margin:20px 15px 15px 20px;
    font-size:18px;
    font-weight:700;
    padding-top:88px;
    width:80%;
    text-align: left;
    height:125px;
}
.wedo .services .item p{
    font-size:16px;
    min-height:90px;
}
.wedo .services .item .more{
    margin:0 0 0 20px;
    color:#ffffff;
}
/* .wedo .services .identity:hover h3{
    background: url("../img/id-logo-blue.png") no-repeat;
    
} */
.wedo .services .identity h3{
    background: url("../img/id-logo.png") no-repeat;
    
}
/* .wedo .services .devops:hover h3{
    background: url("../img/system-logo-blue.png") no-repeat;
    
} */
.wedo .services .devops h3{
    background: url("../img/system-logo.png") no-repeat;
    
}
/* .wedo .services .expert:hover h3{
    background: url("../img/expert-logo-blue.png") no-repeat;
    
} */
.wedo .services .expert h3{
    background: url("../img/expert-logo.png") no-repeat;
    
}
/* .wedo .services .custom:hover h3{
    background: url("../img/custom-logo-blue.png") no-repeat;
    
} */
.wedo .services .custom h3{
    background: url("../img/custom-logo.png") no-repeat;
    
}
/* .wedo .services .intel:hover h3{
    background: url("../img/intel-logo-blue.png") no-repeat;
    
} */
.wedo .services .intel h3{
    background: url("../img/intel-logo.png") no-repeat;
    
}
.wedo .services .item p{
    padding:0 20px 0 20px;
}

.wedo.core {
    background:#f5f7fb;
}
.wedo.core h2{
    color:var(---primary-dark-color);
    text-transform: capitalize;
}
.wedo.core .desc{
    color:#333;
}
.wedo.core .services .item h3,.wedo.core .services .item p,.wedo.core .services .more{
    color:#333;

}
.wedo.core .services .item .itemContent{
    background:#ffffff;
}
.wedo.core .services .item:hover * {
    color:white;
}
.wedo.core .services .item:hover .itemContent {
    background:rgba(0,0,0,0.5);
}
.wedo.core .innovation h3{
    background: url("../img/idea-logo-blue.png") no-repeat;
}
.wedo.core .innovation:hover h3{
    background: url("../img/idea-logo.png") no-repeat;
}
.wedo.core .respect h3{
    background: url("../img/respect-logo-blue.png") no-repeat;
}
.wedo.core .respect:hover h3{
    background: url("../img/respect-logo.png") no-repeat;
}
.wedo.core .excellence h3{
    background: url("../img/excellence-logo-blue.png") no-repeat;
}
.wedo.core .excellence:hover h3{
    background: url("../img/excellence-logo.png") no-repeat;
}
.wedo.core .trust h3{
    background: url("../img/trust-logo-blue.png") no-repeat;
}
.wedo.core .trust:hover h3{
    background: url("../img/trust-logo.png") no-repeat;
}
.wedo.core .passion h3{
    background: url("../img/passion-logo-blue.png") no-repeat;
}
.wedo.core .passion:hover h3{
    background: url("../img/passion-logo.png") no-repeat;
}
.wedo.core .services .item{
    box-shadow: 0 0 25px rgb(0 0 0 / 5%);
}
.wedo.core:before{
    background:transparent;
}


.weserve {background:#f5f7fb; padding:50px 0}
 .weserve  ul {margin:0px; padding:0px; list-style: none; display: flex;}
.weserve  ul li{margin:0px; padding:0px; list-style: none; width:20% ; padding-top:90px; text-align: center; font-size:16px; color:#666666; font-weight: 600;}
.weserve  ul li.bank {
    background: url("../img/bank.png") no-repeat 50% 0;
}
.weserve  ul li.insurance {
    background: url("../img/insurance.png") no-repeat 50% 0;
}
.weserve  ul li.healthcare {
    background: url("../img/hospital.png") no-repeat 50% 0;
}
.weserve  ul li.retail {
    background: url("../img/retail.png") no-repeat 50% 0;
}
.weserve  ul li.telecom {
    background: url("../img/telecom.png") no-repeat 50% 0;
}

.siteFooter {
    background:var(---primary-dark-color);
    padding-top:30px;
}
.siteFooter h3{
    color:#c5cfdb;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding:40px 0 40px 0;
}
.siteFooter .nav {
    display: flex;
    flex-direction: column;
    padding:0px 0;
}
.siteFooter .nav ul{list-style: none; margin:0px; padding:0px;}
.siteFooter .nav li {
    font-size:14px;
    color:var(---primary-color);
    
}
.siteFooter .nav li a{
    display:block;
    padding:8px 0;
    color:#1ec0ec;
    font-size:14px;
    text-decoration: none;
}
.siteFooter .contact-block, .siteFooter address{
    color:#c5cfdb;
}
.contact-block .mail{
    background: url("../img/mail.png") no-repeat;
    padding-left:37px;
}
.contact-block .mail a{
    color:#1ec0ec;
    display: block;
    
}

.contact-block .mail > div{
    border-left:solid 1px#1ec0ec;
    padding-left:15px;
    margin-left:8px;
}
.siteFooter .addresses {
    padding-top:27px;
}
.siteFooter address{
    width:50%;
    padding-left:37px;
    display: block;
    float: left;
}
.siteFooter address.usa{
    background: url("../img/usa-flag.png") no-repeat;
}
.siteFooter address.india{
    background: url("../img/indian-flag.png") no-repeat;
}
.siteFooter address.nepal{
    background: url("../img/nepal-flag.png") no-repeat;
}
.siteFooter address > div{
    border-left:solid 1px#1ec0ec;
    padding-left:15px;
    margin-left:8px;
}
.siteFooter .social svg {
    width:40px;
    height:40px;
    margin-right:10px;
}
.siteFooter .social{
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 60px;
}
.siteFooter .social svg path.fill, .siteFooter .social .facebook svg path, .siteFooter .social .youtube svg path{
    fill: #1ec0ec;
}
.siteFooter .whitelogo{
    opacity:0.6;
}
.copyright{
    font-size:14px;
    color:rgba(255,255,255,0.8);
    padding:0 0 0 15px;
    margin-left:15px;
    border-left:solid 1px rgba(255,255,255,0.6);
   
}
.copyright-block{
    display: flex;
    margin: 40px 0 40px 0
}
.copyright a{
    color:#1ec0ec
}
.pageTop {background: #81abed url("../img/about-bg.jpg") no-repeat;}
.pageTop h1{ font-size:50px; font-weight:300; color:white;}
.pageTop .bread {font-size:16px; color:white}
.pageTop .bread a{color:#9ae7fc; text-decoration: none;}
.pageTop .col{min-height:207px; display: flex; flex-direction: column; justify-content: center;}

.pageContent{   
    font-size:16px;
    color:#333333;
}
.pageContent .img{
padding-bottom:40px;
}
.pageContent .highlight{
    font-size:35px;
    color:#2f589b;
    line-height:40px;
    text-align: center;
    padding:50px 0;
}
.pageContent h2{color:#2f589b; font-size:16px; padding:15px 0; text-transform: uppercase; font-weight: 600;}
.pageContent h3{color:#333333; font-size:16px; padding:15px 0; text-transform: capitalize; font-weight: 600;}

.pageContent {
    padding:50px 0 0 0;
}
.pageContent .contCol {
    padding:50px 0;
}
.pageContent p{
    padding:15px 0;
    line-height: 28px;
}
.smallLinks a{text-decoration: none;}
.core {
    background:#f5f7fb;
    padding-top:50px;
}
.headerDesc{
    width:50%;
    text-align: center;
    margin:0 auto;
}

.expertServices{
    background:#d2e4f0;
    padding:80px 0;
}
.expertServices h2{ text-align: center;}
.expertServices .normalForm {
    padding-top:50px;
}
.normalForm .form-row{
    display:flex;
    padding:15px 20px;
}

.normalForm .form-control{
    border-radius:0px;
    font-size:14px;
    padding:8px 10px 8px 34px;
}
.normalForm textarea.form-control{
    padding:34px 10px 8px 34px;
    min-height:400px;
}
.normalForm .form-control.user{
    background: #fff url("../img/user.png") no-repeat 10px;
    
}
.normalForm .form-control.mail{
    background: #fff url("../img/email.png") no-repeat 10px;
    
}
.normalForm .form-control.phone{
    background: #fff url("../img/phone.png") no-repeat 10px;
    
}
.normalForm .form-control.company{
    background: #fff url("../img/company.png") no-repeat 10px;
    
}
.normalForm .form-control.message{
    background: #fff url("../img/message.png") no-repeat 10px 10px;
    
}
.normalForm button.btn-primary{
    background: var(---primary-dark-color);
    border-radius: 0px;
    font-size:14px;
    color:#ffffff;
    padding:6px 10px;
    min-width: 150px;
}